<h1>{{project}}</h1>
<h3 class="product-list">Product List</h3>
<table class="table">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Price</th>
        <th scope="col">Colors</th>
        <th scope="col">Tags</th>
    </tr>
    <tbody>
        <tr *ngFor="let p of products; let i=index">
            <td>{{p.name}}</td>    
            <td>{{p.category_id}}</td> 
            <td>{{p.price | currency:'INR'}}</td> 
            <td>{{p.colours}}</td>
            <td>{{p.tags}}</td> 
        </tr>
    </tbody>
</table>
<div class="show-loader" *ngIf="loader">
    <img src="https://i.gifer.com/ZZ5H.gif" style="width: 30px;"/>
</div>

<a href="#" routerLink="/category">Categories</a>